@page
@using Microsoft.Extensions.Configuration
@model IndexModel
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <hr />
    <h2>Launch Auth samples</h2>
    <p>
		<a href="/.well-known/openid-configuration" title="OpenID Connect" target="_blank">
			OpenID Connect Configuration</a>
	</p>
</div>
